/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1200px) {
    /* Header */
    .header__wrapper {
        width: 100%;
        padding: 0 2rem;
    }
    
    .slider__content-left {
        right: 50%;
    }

}
@media (max-width: 1023px) {
    .header__mid,
    .all-demo,
    .buy-theme {
        display: none;
    }
    .product__icon, 
    .product__btn {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
    }
    .product__time{
       bottom: 36px;
    }
    /* scroll testtimoial */
    .testimonial__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        scrollbar-width: none;
    }
    .testimonial__list::-webkit-scrollbar {
        display: none;
    }
    .testimonial__item {
        width: 360px;
        scroll-snap-align: start;
    }
    .journal__title,
    .journal__btn {
        margin-top: 2rem;
    }
    .footer__title {
        display: none;
    }
    .footer__subcribe-input {
        width: 100%;
        margin-left: 0;
    }
    .navbar__icon {
        display: block;
        font-size: 1.8rem;
        color: #000;
        margin-right: 3rem;
        cursor: pointer;
    }
    .sticky .navbar__icon {
        color: #fff;
    }
    .header__mid {
        opacity: 0;
        visibility: hidden;
        
    }
    .header__mid-active {
        display: block;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: rgba(23,23,23,1) !important;
        z-index: 11;
        opacity: 1;
        visibility: visible;
       transition: all 0.2s linear;
    }
    .header__mid-list {
        position: relative;
        flex-direction: column;
        align-items: end;
    }
    .header__mid-item {
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.06);
    }
    .header__mid-list .header__mid-item .header__mid-link {
        color: #fff;
        display: block;
        padding: 1.5rem 0;
    }
    .header__mid-link::before {
        display: none;
    }
    .active {
        color: rgba(255,255,255,0.6) !important;
    }
}


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__wrapper {
        width: 100%;
        padding: 0 2rem;
    }
    .slider__content-left {
        right: 38%;
    }
    .slider__btn {
        padding-right: 2rem;
    }
    .slider__social {
        padding-left: 0; 
    }
    .introduce__item {
        margin-top: 2rem;
    }
    .about__item {
        padding: 14rem 0rem;
    }
    .about__wrap {
        flex-direction: column;
        height: 94rem;
    }
    .about__fashion{
        margin-top: 5rem;
        width: 100%;
    }
    .about__image {
        width: 85%;
    }
    .journal__item {
        margin: 0 1rem;
    }
    .journal__item:nth-child(3),
    .journal__item:last-child {
        margin-top: 5rem;
    }

    /* contact */
    .contact {
        flex-direction: column;
    }
    .contact__wrap {
        width: 100%;
    }
    .contact__left {
        width: 100%;
        height: 40rem;
    }
    .contact__mid {
        height: 55rem;
    }
    .footer {
        padding-top: 7rem;
        height: 40rem;
    }
 
    .footer__desc {
        width: 16rem;
    }
    .about__name-hongo {
        margin-top: 45rem;
        margin-bottom: 10rem;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .wide {
        padding: 0 2rem;
    }
   .endow__wrap {
    flex-direction: column;
   }
   .money__back {
    padding-bottom: 4rem;

   }
   .shipping {
       padding-bottom: 5rem;
   }
   .money__back::after, .shipping::after {
       display: none;
   }

   .slider__content-left {
       right: 14%;
       width: 28rem;
   }
   .slider__content-title {
         font-size: 3.5rem;
    }
    .slider__social {
        padding-left: 0;
    }
   .slider__btn {
       flex-direction: row;
       bottom: 10%;
       right: 50%;
       transform: translateX(50%);
       padding-right: 0;
   }
   .slider__btn-link {
       padding-top: 0;
       margin-right: 2rem;
   }
   .slider__btn-active::after {
        top: 50%;
        transform: translateY(-50%);
   }
   .introduce__item {
    margin-top: 2rem;
    }
    .about__desc {
        padding-left: 0;
    }
    .about__title {
        font-size: 2rem;
    }
    .about__item {
        padding: 4rem;
    }
    .about__item:first-child {
        padding-bottom: 1rem;
    }
    .about__item:last-child {
        padding-top: 0;
    }
    .about__desc-standard {
        padding-left: 4rem;
    }
    .about__wrap {
        flex-direction: column;
        height: 112rem;
    }
    .about__fashion{
        padding-left: 0;
        margin-top: 5rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .about__image {
        width: 85%;
    }
    .about__name-hongo {
        margin-top: 68rem;
        margin-bottom: 5rem;
    }
    .testimonial {
        padding-top: 0;
        height: 57rem;
    }
    .journal__item {
        margin-bottom: 5rem;
    }
    .product__item {
        height: 70rem;
    }
    .product__info { 
        bottom: -10%;
    }
    .contact { 
        flex-direction: column;
        margin-top: 6rem;
    }
    .commo__wrap {
        width: 15rem;
    }
    .contact__left-image, 
    .contact__mid {
        height: 40rem;
    }
    .contact__mid-item:first-child{
        padding-top: 3rem;
    }
    .contact__right-image,
    .contact__right {
        height: 50rem;
    }
    .contact__wrap {
        flex-direction: column;
        width: 100%;

    }  
    .contact__left,
    .contact__mid,
    .contact__right {
        width: 100%;
    }
    .contact__right-btn {
        margin-left: 0;
    }
    .footer {
        height: 130rem;
    }
    .footer__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__logo img {
        width: 10rem;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__item {
        margin-bottom: 5rem;
    }
    .footer__wrapper {
        flex-direction: column;
        padding-top: 3rem;
        height: 11.5rem;
    }
    .footer__subcribe {
        width: 100%
    }
    .footer__desc {
        width: 100%;    
    }
    .footer__social-icon {
        padding-bottom: 2rem;
    }
    .footer__end {
        flex-direction: column;
    }
    .footer__end-desc {
        text-align: center;
    }
    .footer__end img {
        margin-bottom: 4rem;
    }
    .navbar__icon { 
        margin-right: 2rem;
    }
}

/* Mobile low*/
@media (max-width: 480px) {
    .slider__content-left {
        right: 1%;
    }
}
